.main{
  min-height: 300px;
  padding: 80px 0;
  color: #F1FAEE;
  display: flex;
}

.container{
  background: #4A4E69;
  margin: auto;
  width: 90%;
  overflow: hidden;
  padding: 1em;
  min-height: 420px;

  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: .6em
}

.figure{
  overflow: hidden;
  display: flex;
  align-items: center;
}

.img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
  max-width: 60vw;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.inputContainer{
  width: 80%;
  max-width: 500px;
}

.input{
  width: 100%;
  max-width: 500px;
  background-color: #F1FAEE;
  padding: .9em;
  border: 1px solid #22223B;
  font-family: inherit;
}

.input:focus{
  outline: none;
  border: 1px solid #4A4E69;
}

.inputDanger{
  width: 100%;
  max-width: 500px;
  background-color: #F1FAEE;
  padding: .9em;
  border: 1px solid #c54646;
  font-family: inherit;
}

.btn{
  color: #F1FAEE;
  width: 80%;
  max-width: 500px;
  font-weight: 300;
  font-size: 18px;
  padding: .5em;
  font-family: inherit;
  background-color: #22223B;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.btn:disabled{
  background-color: #2b2b36;
}

.btn:hover {
  background-color: #161627;
}

.p:hover{
  font-weight: 500;
  cursor: pointer;
}

.inputDisabled{
  width: 100%;
  max-width: 500px;
  font-weight: 600;
  background-color: #9A8C98;
  padding: .9em;
  border: 1px solid #22223B;
  font-family: inherit;
}

.pDanger{
  color: #993131;
  padding-top: .3em;
}