.main{
  padding: 80px 0;
  display: flex;
  color: #3a3a3a;
}

.container{
  background: #F2E9E4;
  margin: auto;
  width: 90%;
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .6em;
}

.header h2{
  padding: .4em;

}

.btn{
  color: #F1FAEE;
  font-weight: 400;
  font-size: 18px;
  padding: .8em;
  font-family: inherit;
  background-color: #22223B;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.btn:hover, .btn:active{
  background-color: #161627;
}

.stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1em;
  width: 90%;
  margin: auto;
  max-height: 300px;
}

.stat{
  color: #F1FAEE;
  background-color: #4A4E69;
  padding: 1em;
}

.stat h3{
  font-weight: 300;
}

.stat h1{
  font-weight: 400;
  text-align: end;
}

.transactions{
  width: 90%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
}

.data{
  width: 90%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  border-bottom: 1px solid #C9ADA7;
  margin-top: 1rem;
}

.data p{
  font-size: 15px;
}

.danger{
  color: #c54646;
  font-weight: 500;
}

.success{
  color: #148814;
  font-weight: 500;
}

.edit{
  font-weight: 500;
}

.edit:hover{
  cursor: pointer;
  color: #148814;
}

.delet{
  font-weight: 500;
}

.delet:hover{
  cursor: pointer;
  color: #c54646;
}