.footer{
  background: #F2E9E4;
  height: 40px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  font-size: 13px;
  font-weight: 300;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p{
  padding: 0 20px;
}

.links img{
  float: right;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.links img:hover{
  transform: scale(1.2);
}