.container{
  background: #22223B;
  height: 80px;
  width: 100vw;
  color: #F1FAEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container h2{
  line-height: 80px;
  font-weight: 600;
  padding: 0 20px;
}

.btn{
  color: #F1FAEE;
  float: right;
  margin-right: 20px;
  font-weight: 300;
  font-size: 16px;
  font-family: inherit;
  padding: 12px 12px;
  background-color: transparent;
  border: 2px solid #4A4E69;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.btn:hover, .btn:active{
  background-color: #4A4E69;
}